@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: white;
  background: black
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.blinking-cursor {
  display: inline-block;
          width: 10px;
          height: 1em;
          color: aquamarine;
          background-color: rgb(19, 19, 19);
          animation: blink 1s step-start infinite;
          vertical-align: middle;
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}
input{
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--foreground-rgb);
  font-size: 1em;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  letter-spacing: 0.05em;
  line-height: 1.5em;
  padding: 0.5em 1em;
  border-radius: 0.25em;
  transition: all 0.2s ease-in-out;
}
@font-face {
  font-family: 'Blocks';
  src: url('/fonts/Blocks-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.font-blocks {
  font-family: 'Blocks', monospace;
}